:root {
  --gray-8: rgb(30, 30, 30, .8);
  --gray-9: rgb(30, 30, 30, .9);
  --black: #1e1e1e;
  --white: #FFFFFF;
  --white-rgba: rgb(255, 255, 255, .8);
  --accent: #e58411;
  --background: #f7f7f7;
  --font-family: "Gilroy-Medium", sans-serif;
  --second-family: "Gilroy-Regular", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Gilroy-Bold", sans-serif;
  --font4: "DM Sans", sans-serif;
  --font5: "Gilroy-SemiBold", sans-serif;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

ul[class] {
  list-style: none;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--black);
  overflow-x: hidden;
  min-width: 100vw;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

address {
  font-style: normal;
}

::marker {
  margin-top: 10px;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

.main {
  overflow-x: clip;
}

.flex {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.swiper-button-right,
.swiper-button-left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  z-index: 3;
  position: absolute;
  top: 36%;
  overflow: visible;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .swiper-button-right:hover,
  .swiper-button-left:hover {
    scale: 1.2;
  }
  .swiper-button-right:hover .bestproduct__button-svg,
  .swiper-button-left:hover .bestproduct__button-svg {
    color: var(--accent);
  }
}

.swiper-button-right {
  left: -1.6875rem;
}

.swiper-button-left {
  right: 0.25rem;
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(../fonts/Gilroy-Regular.woff2) format("woff2"), url(../fonts/Gilroy-Regular.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.testimonials__comment-text, .testimonials__comment-name span, .tabs-buttons__btn, .search__input, .hero__title {
  font-family: "Gilroy";
  font-weight: 400;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../fonts/Inter-Regular.woff2) format("woff2"), url(../fonts/Inter-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSans", sans-serif;
  src: url(../fonts/DMSans-Regular.woff2) format("woff2"), url(../fonts/DMSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Medium.woff2) format("woff2"), url(../fonts/Gilroy-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.footer, .tabs__link--active, .link-more, .nav__link {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../fonts/Inter-SemiBold.woff2) format("woff2"), url(../fonts/Inter-SemiBold.woff) format("woff"), url(../../fonts/Inter-SemiBold.ttf) format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.card-product__price {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(../fonts/Gilroy-SemiBold.woff2) format("woff2"), url(../fonts/Gilroy-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Bold.woff2) format("woff2"), url(../fonts/Gilroy-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.testimonials__comment-name, .section-title, .choosingus__item-title, .hero__descr, .logo {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.woff2) format("woff2"), url(../../fonts/Gilroy-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.testimonials__comment-text, .testimonials__comment-name span, .tabs-buttons__btn, .search__input, .hero__title {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid brown;
}

.header {
  position: relative;
  z-index: 4;
  padding-top: 1.875rem;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid brown;
}
.header__basket {
  position: relative;
}
.header__basket span {
  position: absolute;
  top: 0;
  right: -0.4375rem;
  color: var(--white);
  background-color: var(--accent);
  width: 1.375rem;
  height: 1.75rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 1.75rem;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.logo--white {
  color: var(--white);
}
.logo--black {
  color: var(--black);
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 3.75rem;
}
.nav__link {
  padding: 0.625rem 0;
  font-size: 1.125rem;
  color: var(--white);
  text-transform: capitalize;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--accent);
  }
  .nav__link:hover-svg {
    color: var(--accent);
  }
}
.nav__link--flex {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.hero {
  position: relative;
  margin-top: -5.25rem;
  background-color: var(--gray-9);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.hero__descr {
  margin-bottom: 1.875rem;
  padding-top: 8.75rem;
  max-width: 55.625rem;
  font-size: 5rem;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: var(--white);
}
.hero__title {
  margin-bottom: 1.875rem;
  display: inline-block;
  max-width: 37.875rem;
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--white-rgba);
}
.hero__tips {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.hero__tip {
  width: 2.125rem;
  height: 2.125rem;
  position: absolute;
  cursor: help;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__tip::after {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  content: url("../images/icons/tooltip-1.svg");
}
.hero__tip span {
  position: absolute;
  z-index: 5;
}
.hero__tip--1 {
  top: 71%;
  left: 7%;
}
.hero__tip--2 {
  top: 74%;
  right: 42.5%;
}
.hero__tip--3 {
  bottom: 23%;
  right: 7.3%;
}

.search {
  margin: 0 auto;
  max-width: 21.5rem;
  position: relative;
  z-index: 4;
}
.search__form {
  position: relative;
}
.search__form:hover .search__input {
  transform: translateX(0%);
}
.search__input {
  width: 100%;
  border: 0.86px solid rgba(255, 255, 255, 0.6);
  border-radius: 2.625rem;
  padding: 8px 8px 8px 20px;
  height: 3.5rem;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  color: var(--white-rgba);
  background: rgba(255, 255, 255, 0.15);
  font-size: 1.125rem;
  line-height: 1.5;
}
.search__input::-moz-placeholder {
  color: var(--white-rgba);
}
.search__input::placeholder {
  color: var(--white-rgba);
}
.search__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--accent);
  border-radius: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .search__btn:hover .search__btn-svg {
    color: var(--accent);
  }
}

.choosingus {
  padding: 7.5rem 0;
}
.choosingus__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.choosingus__title {
  max-width: 15.3125rem;
  margin-right: 8.125rem;
}
.choosingus__list {
  display: flex;
  gap: 1.75rem;
}
.choosingus__item {
  max-width: 17.875rem;
  display: flex;
  flex-direction: column;
}
.choosingus__item-title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  color: var(--gray-9);
  height: 1.875rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.choosingus__item-text {
  margin-bottom: 0.875rem;
  height: 5.625rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.section-title {
  font-size: 2.625rem;
  color: var(--black);
  line-height: 1.2;
  text-transform: capitalize;
}

.subtitle {
  font-size: 1.125rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: var(--accent);
  margin-bottom: 1.25rem;
}

.link-more {
  font-size: 0.875rem;
  line-height: 1.85;
  color: var(--accent);
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-more::after {
  content: url(../images/icons/arrow-next.svg);
  width: 2.375rem;
  height: 0.6875rem;
  top: 50%;
  transform: translateY(-50%);
}
@media (any-hover: hover) {
  .link-more:hover {
    scale: 1.3;
    transform: translateX(15%);
  }
}

.bestproduct {
  background-color: var(--background);
  text-align: center;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.bestproduct__title {
  margin-bottom: 2rem;
}
.bestproduct__list {
  max-width: 76.875rem;
  margin: 0 auto 3.75rem;
}
.bestproduct__item {
  min-height: 30.75rem;
  position: relative;
}
.bestproduct__link {
  display: inline-flex;
  font-size: 1.125rem;
  line-height: 1.85;
}

.tabs-buttons {
  max-width: 21.75rem;
  display: flex;
  align-items: center;
  border-radius: 2.75rem;
  padding: 0.375rem;
  background: #eee;
  margin: 0 auto 5rem;
}
.tabs-buttons__btn {
  font-size: 1.125rem;
  line-height: 1.85;
  color: var(--gray-8);
  padding: 0.25rem;
  width: 5.25rem;
  height: 2.8125rem;
}
@media (any-hover: hover) {
  .tabs-buttons__btn:hover {
    color: var(--accent);
  }
}

.tabs__link--active {
  background-color: var(--white);
  border-radius: 2rem;
}

.tabs__content-item {
  display: none;
  animation: opac 1.3s;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tabs__content-item.tabs__content--active {
  display: block;
}

.card-product {
  width: 16.75rem;
  background: var(--white);
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  text-align: left;
  height: auto;
}
.card-product__link {
  border-radius: 20px;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .card-product__link:hover {
    box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
  }
}
.card-product__thumb {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  background-color: var(--background);
  width: 16.75rem;
  height: 15rem;
  position: relative;
}
.card-product__img {
  position: absolute;
  bottom: 1.125rem;
  left: 50%;
  transform: translateX(-50%);
}
.card-product__body {
  padding: 0.875rem 1.375rem 1.6875rem;
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  background-color: var(--white);
}
.card-product__name {
  margin-bottom: 0.375rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #8d8d8d;
}
.card-product__title {
  margin-bottom: 0.625rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.3125rem;
  text-transform: capitalize;
  color: #0d1b39;
  height: 1.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-product__rating {
  margin-bottom: 2.375rem;
}
.card-product__price-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-product__price {
  display: inline-block;
  font-size: 1.3125rem;
  color: #0d1b39;
}
.card-product__sup {
  margin-right: 0.1875rem;
  font-size: 0.9375rem;
}
.card-product__btnbasket {
  width: 3.0625rem;
  height: 3.0625rem;
  border-radius: 50%;
  background-color: #0d1b39;
  position: relative;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-product__btnbasket::before {
  position: absolute;
  content: url(../images/icons/plus.svg);
  width: 1.3125rem;
  height: 1.3125rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (any-hover: hover) {
  .card-product__btnbasket:hover {
    scale: 1.2;
  }
}

.rating {
  display: flex;
  gap: 0.25rem;
}

.experiences {
  padding: 7.5rem 0;
}
.experiences__box {
  gap: 5rem;
}
.experiences__description {
  max-width: 36.1875rem;
  padding-right: 3.75rem;
}
.experiences__title {
  max-width: 25.8125rem;
  margin-bottom: 1.25rem;
}
.experiences__descr {
  margin-bottom: 1.5rem;
}

.materials__container {
  max-width: 1440px;
  padding: 0 0.625rem;
  margin: 0 auto;
}
.materials__box {
  justify-content: space-between;
}
.materials__descr {
  max-width: 34.75rem;
}
.materials__thumb-row2 {
  align-self: flex-end;
}
.materials__img:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.testimonials {
  padding: 7.5rem 0;
  text-align: center;
}
.testimonials__title {
  margin-bottom: 3.75rem;
}
.testimonials__list {
  max-width: 74.1875rem;
  margin: 0 auto;
}
.testimonials__item {
  width: 23.125rem;
  min-height: 31.625rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  outline: 0.0625rem solid red;
}
.testimonials__item:not(:first-child) {
  margin-left: 1.1875rem;
}
.testimonials__item:not(:last-child) {
  margin-right: 1.1875rem;
}
.testimonials__item::after {
  content: "";
  width: 18.75rem;
  height: 23.75rem;
  border-radius: 2.8125rem;
  background: url(../images/testimonial/unsplash-1@1x.png);
  filter: blur(50px);
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.testimonials__item-content {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 20.875rem;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/testimonial/testimonials-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.testimonials__comment-name {
  display: block;
  margin-bottom: 1.375rem;
  font-size: 1.125rem;
  text-transform: capitalize;
  color: var(--black);
  font-style: normal;
}
.testimonials__comment-name span {
  display: block;
  margin-top: 0.375rem;
  font-size: 0.75rem;
  color: rgba(30, 30, 30, 0.6);
}
.testimonials__comment-text {
  margin-bottom: 1.375rem;
  max-width: 15.75rem;
  font-size: 0.875rem;
  color: rgba(30, 30, 30, 0.8);
}
.testimonials .rating img {
  width: 0.875rem;
}
.testimonials .swiper-button-right, .testimonials .swiper-button-right {
  top: 30%;
}
.testimonials .swiper-button-right {
  left: -1.75rem;
}

.footer {
  padding: 7.375rem 0 3.5rem;
  background-color: var(--background);
  font-size: 0.9375rem;
  line-height: 1.6;
}
.footer__container {
  max-width: 66.5rem;
}
.footer__inner {
  display: flex;
  margin-bottom: 7.375rem;
}
.footer__logo {
  margin-bottom: 1.875rem;
}
.footer__content {
  max-width: 18.375rem;
  margin-right: 9.5rem;
}
.footer__box-lists {
  display: flex;
  gap: 6.875rem;
  align-items: center;
}
.footer__link {
  color: var(--gray-8);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: var(--accent);
  }
  .footer__link:hover .footer__link-svg {
    fill: var(--accent);
  }
}
.footer__link-svg {
  margin-right: 0.625rem;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link-svg--facebook {
  margin-right: 1rem;
  margin-left: 0.3125rem;
}
.footer__copy-list {
  display: flex;
  justify-content: space-between;
}
.footer__copy {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: rgba(30, 40, 51, 0.5);
}
.footer__title {
  margin-bottom: 1.25rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
  letter-spacing: -0.01em;
  color: var(--accent);
  text-transform: capitalize;
}
.footer__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.footer__list-copylink {
  display: flex;
  gap: 2.5rem;
}/*# sourceMappingURL=style.css.map */