.bestproduct {
  background-color: var(--background);
  text-align: center;
  padding-top: rem(50);
  padding-bottom: rem(50);

  &__title {
    margin-bottom: rem(32);
  }

  &__slider {
    margin-left: rem(20);
  }


  &__list {
    max-width: rem(1230);
    margin: 0 auto clamp(1.875rem, 1.263rem + 3.06vw, 3.75rem);
  }

  &__item {
    min-height: rem(492);
    position: relative;
    overflow: hidden;
  }

  &__link {
    display: inline-block;
    font-size: rem(18);
    line-height: 1.85;
    width: rem(124);
  }

  @media screen and (width < 1120.99px) {

    &__slider {
      margin-left: clamp(0.313rem, -7.102rem + 13.64vw, 3.125rem);
      // margin-left: rem(50);
    }
  }

  @media screen and (width < 876.99px) {

    &__slider {
      margin-left: clamp(1.56rem, calc(-0.41rem + 9.87vw), 5rem);
      // margin-left: rem(80);
    }
  }
}

.slick-list {
  margin-bottom: rem(30);
}

.slick-dots {
  display: flex;
  justify-content: center;
  gap: rem(15);

  .slick-active {
    color: var(--accent);
  }
}