.card-product {
  width: rem(268);
  background: var(--white);
  position: absolute;
  bottom: rem(2);
  // height: rem(441);
  border-radius: 20px;
  text-align: left;
  height: auto;
  margin-left: rem(7);

  &__link {
    border-radius: 20px;
    @include transition ($transition-property: box-shadow);

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
      }
    }
  }

  &__thumb {
    border-top-left-radius: rem(20);
    border-top-right-radius: rem(20);
    background-color: var(--background);
    width: 100%;
    height: rem(240);
    position: relative;
    // @include transition ($transition-property: scale);

    // @media (any-hover: hover) {
    //   &:hover {
    //     scale: 1.1;
    //   }
    // }
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__body {
    padding: rem(14) rem(22) rem(27);
    border-bottom-right-radius: rem(20);
    border-bottom-left-radius: rem(20);
    background-color: var(--white);
    // outline: rem(1) solid firebrick;
  }

  &__name {
    margin-bottom: rem(6);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: rem(16);
    color: #8d8d8d;
  }

  &__title {
    margin-bottom: rem(10);
    font-family: "Inter", sans-serif;
    font-weight: 600;

    font-size: rem(21);
    text-transform: capitalize;
    color: #0d1b39;


    height: rem(28);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__rating {
    margin-bottom: rem(38);
  }

  &__price-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    display: inline-block;
    @extend %Inter-600;
    font-size: rem(21);
    color: #0d1b39;
  }

  &__sup {
    margin-right: rem(3);
    font-size: rem(15);
  }


  &__btnbasket {
    width: rem(49);
    height: rem(49);
    border-radius: 50%;
    background-color: #0d1b39;
    position: relative;

    &::before {
      position: absolute;
      content: url(../images/icons/plus.svg);
      width: rem(21);
      height: rem(21);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include transition ($transition-property: scale);

    @media (any-hover: hover) {
      &:hover {
        scale: 1.2
      }
    }
  }
}