.choosingus {
  padding: clamp(3.125rem, 1.696rem + 7.14vw, 7.5rem) 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    width: rem(245);
    margin-right: clamp(1.875rem, -21.313rem + 36.23vw, 8.125rem);
  }

  &__list {
    display: flex;
    gap: clamp(1.25rem, -4.75rem + 8vw, 1.75rem);
  }

  &__item {
    width: rem(286);
    display: flex;
    flex-direction: column;


    &-title {
      margin-bottom: rem(20);
      @extend %Gilroy-700;
      font-size: clamp(1.125rem, 1.003rem + 0.61vw, 1.5rem);
      color: var(--gray-9);
    }

    &-text {
      margin-bottom: rem(14);
    }
  }

  @media screen and (width < 1023.99px) {
    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @media screen and (width < 767.99px) {
    &__inner {
      flex-direction: column;
    }

    &__title {
      width: 100%;
      margin: 0 auto rem(30) auto;
      text-align: center;
    }

  }

}