.choosingus {
  padding: clamp(3.125rem, 1.696rem + 7.14vw, 7.5rem) 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(30);
  }

  &__title {
    width: rem(245);
    margin-right: clamp(0rem, -30.145rem + 47.1vw, 8.125rem);
  }

  &__list {
    display: flex;
    gap: clamp(1.25rem, -4.75rem + 8vw, 1.75rem);
  }

  &__item {
    width: rem(286);
    display: flex;
    flex-direction: column;


    &-title {
      margin-bottom: rem(20);
      @extend %Gilroy-700;
      font-size: clamp(1.125rem, 1.003rem + 0.61vw, 1.5rem);
      color: var(--gray-9);
    }

    &-text {
      margin-bottom: rem(14);
    }
  }

  @media screen and (width < 1024.99px) {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__title {
      width: 100%;
      text-align: center;
    }

    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}