.experiences {
  padding: rem(120) 0;

  &__box {
    gap: rem(80);
  }


  &__description {
    max-width: rem(579);
    padding-right: rem(60);
  }

  &__title {
    max-width: rem(413);
    margin-bottom: rem(20);
  }

  &__descr {
    margin-bottom: rem(24);
  }
}