.experiences {
  padding: clamp(3.125rem, 1.696rem + 7.14vw, 7.5rem) 0;

  &__box {
    gap: clamp(0.625rem, -13.526rem + 22.8vw, 5rem);
  }

  &__thumb img {
    width: 100%;
  }

  &__description {
    max-width: rem(579);
    padding-right: rem(60);
  }

  &__title {
    max-width: rem(413);
    margin-bottom: rem(20);
  }

  &__descr {
    margin-bottom: rem(24);
  }

  @media screen and (width < 993.99px) {
    .flex {
      flex-wrap: wrap;
    }
  }
}