.header {
  position: relative;
  z-index: 4;
  padding-top: rem(30);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
    outline: 1px solid brown;
  }

  &__basket {
    position: relative;

    & span {
      position: absolute;
      top: 0;
      right: rem(-7);
      color: var(--white);
      background-color: var(--accent);
      width: rem(22);
      height: rem(28);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}