.materials {

  &__container {
    max-width: 1440px;
    padding: 0 rem(10);
    margin: 0 auto;
  }

  & img {
    max-width: 100%;
  }

  &__box {
    justify-content: space-between;
    gap: rem(50);
  }

  &__descr {
    max-width: rem(556);
  }

  &__thumb {
    // gap: rem(42);
  }

  &__thumb-row2 {
    align-self: flex-end;
  }

  &__img {
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  @media screen and (width < 993.99px) {
    &__box {
      flex-wrap: wrap;
    }

    &__thumb {
      justify-content: center;
      order: -1;
    }
  }

  @media screen and (width < 773.99px) {

    &__thumb {
      flex-wrap: wrap;
    }

    &__thumb-row1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}