.nav {

  &__list {
    display: flex;
    align-items: center;
    gap: rem(60);

  }

  &__link {
    padding: rem(10) 0;
    @extend %Gilroy-500;
    font-size: rem(18);
    color: var(--white);
    text-transform: capitalize;

    @include transition ($transition-property: color);

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent);

        &-svg {
          color: var(--accent);
        }
      }
    }

    &--flex {
      display: flex;
      align-items: center;
      gap: rem(10);
    }
  }
}