.testimonials {
  padding: clamp(3.125rem, 1.696rem + 7.14vw, 7.5rem) 0;
  text-align: center;

  &__title {
    margin-bottom: rem(60);
  }

  &__list {
    max-width: rem(1187);
    margin: 0 auto;
  }

  &__item {
    position: relative;
    width: rem(370);
    min-height: rem(476);

    &:not(:first-child) {
      margin-left: rem(19);
    }

    &:not(:last-child) {
      margin-right: rem(19);
    }
  }


  &__thumb {
    position: absolute;
    inset: 0;
    // width: rem(334);
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: rem(20);
  }

  &__item-content {
    position: absolute;
    bottom: 4%;
    width: 100%;
    height: rem(240);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__comment-name {
    display: block;
    margin-bottom: rem(22);
    @extend %Gilroy-700;
    font-size: rem(18);
    text-transform: capitalize;
    color: var(--black);
    font-style: normal;

    span {
      display: block;
      margin-top: rem(6);

      @extend %Gilroy-400;
      font-size: rem(12);
      color: rgba(30, 30, 30, .6);
    }
  }

  &__comment-text {
    margin-bottom: rem(22);
    max-width: rem(252);
    min-height: rem(51);
    @extend %Gilroy-400;
    font-size: rem(14);
    color: rgba(30, 30, 30, .8);
  }

  & .rating img {
    width: rem(14);
  }

  & .swiper-button-right,
  & .swiper-button-left {
    top: 30%;
  }

  & .swiper-button-right {
    left: rem(-28);
  }


  @media screen and (width < 1219.99px) {
    &__list {
      margin-left: rem(30);
    }

    & .swiper-button-left {
      right: 1%;
    }
  }
}