.section-title {
  @extend %Gilroy-700;
  // font-size: rem(42);
  font-size: clamp(1.5rem, 1.133rem + 1.84vw, 2.625rem);
  color: var(--black);
  line-height: 1.2;
  text-transform: capitalize;
}

.subtitle {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: rem(18);
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: var(--accent);
  margin-bottom: rem(20);
}